# Node.js dependencies
**/node_modules/

# Environment variables
**/*.env

# TypeScript build output
**/dist/

# Logs
**/*.log

# npm logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# VSCode settings
**/.vscode/

# IDE and editor-specific files
**/.idea/
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln

# Operating system files
**/.DS_Store
**/Thumbs.db

# Docker
**/Dockerfile
**/docker-compose.yml

# Local development settings
**/*.local

# Coverage directory used by testing tools
**/coverage/

# TypeScript cache
**/*.tsbuildinfo

# Miscellaneous
**/*.tgz
**/*.zip
**/*.tar.gz
**/*.rar